<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="notice"><%= flash[:success] %></div>
    <div class="alert"><%= flash[:danger] %></div>

    <nav>
      <li><%= link_to 'Home', users_path %></li>
      <% if logged_in? %>
        <li><%= link_to 'My Account', current_user %></li>
        <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
        <li><%= link_to 'Sign Out', signout_path, method: 'delete' %></li>
      <% else %>
        <li><%= link_to 'Register', register_path %></li>
        <li><%= link_to 'Sign In', signin_path %></li>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
